
{%extends 'all-apps/base.html'%}
{% load bootstrap3 %}
{% load bootstrap4 %}
 {% load staticfiles %}
{% block content %}
{{block.super}}
<div class="container">
    <div class="row">
        <div class="col-md-4">
<div class="card-content">
        <form  action="{%url 'profile'%}" method="post"  enctype="multipart/form-data">
            {%csrf_token%}
        
            {% bootstrap_form form%}
            <input  href=""type="submit" class="btn btn-success btn-lg" value="Post">
          </form>
         
      </div>
      
    </div>
   
    </div>
</div>
</div>

      

{% endblock %}